.masonry_box .cnt{
	padding-top: 0!important;
}
.select{
	float: left;
	width: 1200px;
	margin:10px 0 0 80px;
}
.select .result{
	float: left;
	width: 100%;
	height: 52px;
	padding-left: 10px;
	line-height: 52px;
}
.select .result a{
	color: #dd5952;
}
.select .result span:first-of-type{
	margin: 0 16px 0 3px;
}
.select .result span strong{
	font-weight: normal;
	color: #dd5952;
	margin: 0 3px;
}
.select .list{
	float: left;
	width: 100%;
	height: 67px;
	border-top: 1px solid #ededed;
	padding: 15px 0;
}
.select .list span.title{
	line-height: 36px;
	width: 70px;
	height: 100%;
	float: left;
	padding-left: 10px;
	color: #7b7b7b;
}
.select .list ul{
	float: left;
	width: 1130px;
}
.select .list ul li{
	float: left;
	line-height: 36px;
}
.select .list1 ul li{
	margin: 0 20px;
}
.select .list2 ul li{
	margin: 0 20px;
}
.select .list ul li a{
	color: #333;
}
.select .list ul li a:hover,
.select .list ul li.active a{
	color: #dd5952;
}
.select .tip{
	float: left;
	width: 100%;
	height: 67px;
	border-top: 1px solid #ededed;
	padding: 15px 0;
}
.select .tip span.title{
	line-height: 36px;
	width: 115px;
	height: 100%;
	float: left;
	padding-left: 10px;
	color: #a6a6a6;
}
.select .tip a{
	margin:0 10px;
	line-height: 36px;
	color: #a6a6a6;
}
.select .tip a:hover{
	color: #dd5952;
}
.pagelist_box{
	padding: 85px 0 105px;
	background-color: #f7f8fa;
}
.pagelist{
	width: 690px;
}
.sort_box{
	background-color: #f7f8fa;
	padding: 24px 0;
}
.sort{
	padding: 0 80px;
	position: relative;
}
.sort span.title{
	line-height: 36px;
	width: 70px;
	height: 100%;
	float: left;
	padding-left: 10px;
	color: #7b7b7b;
}
.sort ul{
	float: left;
	width: 1000px;
}
.sort ul li{
	float: left;
	height: 36px;
	margin: 0 11px;
}
.sort ul li a{
	float: left;
	color: #333;
	height: 100%;
	line-height: 32px;
	padding: 0 19px;
	border:2px solid transparent;
	border-radius: 18px;
}
.sort ul li a:hover{
	color: #dd5952;
}
.sort ul li.active a{
	color: #dd5952;
	border:2px solid #dd5952;
}
.sort p{
	position: absolute;
	top: 6px;
	right: 62px;
}
.sort p span{
	float: left;
	margin-right: 26px;
	color: #a6a6a6;
	line-height: 24px;
}
.sort p span i{
	font-style: normal;
	color: #a6a6a6;
}
.sort p span i:first-child{
	color: #333;
}
.sort p a{
	float: left;
	width: 33px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	background-color: #fff;
	color: #333;
}
.sort p a.default{
	color: #a6a6a6;
}
@media screen and (max-width: 1600px) {
	.select{
		margin: 0;
	}
	.sort{
		padding: 0;
	}
}