
section{
    background-color: #f7f8fa;
    width: 100%;
}

/*路径导航*/
.path li{
    float: left;
    color: #7b7b7b;
    font-size: 16px;
    line-height: 40px;
    margin: 5px 0;
}
.path li a{
    color: #7b7b7b;
}


/*主体内容*/

.content .content-left{

    background-color: #fff;
    width: 914px;
    padding: 40px 0;



}


/*左边部分*/
.content-left p{
    color: #7b7b7b;
    /*margin: 40px 0;*/
    margin-left: 95px;
    font-size: 16px;
    line-height: 40px;
}
.content-left img{
    margin: 50px 73px;
}
.content-left div{
    color: #bbb;
    width: 770px;
    font-size: 14px;
    line-height: 19px;
    margin: 0 74px;
    /*margin-top: 60px;*/

}


/*右边部分*/
.content .content-right{
    width: 321px;
    margin-left: 25px;
}
.content-right>div{
    background-color: #fff;
    margin-top: 9px;

}
.content-right>div:first-child{
    margin-top: 0;
}
.content-right-list1{


    /*height: 82px;*/
}
.content-right-list1>div:first-child{
    border-bottom: 1px solid #f4f4f4;
    padding-bottom: 16px;
    padding-top: 19px;
}
.content-right-list1>div:last-child{
    padding: 16px 0;
}
.content-right-list1 span{
    display: block;

    width: 47px;
    height: 47px;
    background: url("../images/live.png")no-repeat 12px 14px;
    background-color: #e7e7e7;
    border-radius: 5px;
    margin-left: 16px;
}
.content-right-list1 a {
    display: block;
    background: url("../images/download.png") no-repeat 50px 14px;
    background-color: #dd5952;
    border: none;
    height: 47px;
    border-radius: 5px;
    margin-left: 6px;
    text-align: center;
    position: relative;
    color: #fff;
    width: 230px;
    font-size: 16px;
    line-height: 47px;
}
.content-right-list1 ul{
    margin-left: 30px;
}
.content-right-list1 ul li{
    float: left;
    width: 80px;

}
.content-right-list1 .icon{
    display: inline-block;
    width: 18px;
    height: 13px;
    font-style: normal;

}
.content-right-list1 .icon1{
    background: url("../images/view.png") no-repeat 0px 2px;
}
.content-right-list1 .icon2{
    background: url("../images/download-small.png") no-repeat 0px 0px;
}
.content-right-list1 .icon3{
     background: url("../images/collect.png") no-repeat 0px 0px;
 }
.content-right-list1 b{
    font-weight: normal;
    color: #0e0e0e;
    margin-left: 5px;
}
.content-right-list2{
    padding: 20px 0;
    padding-left:30px;
}
.content-right-list2 b{
    display: block;
    float: left;
    width: 42px;
    height: 42px;
    background: url("../images/portrait.png") no-repeat center;
    margin-right: 15px ;
}
.content-right-list2 p{
    float: left;
    color: #cfcfcf;
    font-size: 14px;
    line-height: 40px;
}

.content-right-list2 p i{
    font-style: normal;
    color: #dd5952;
    margin: 0 5px;
}
.content-right-list2 span{
    display: block;
    float: left;
    font-size: 12px;
    line-height: 40px;
    color: #cfcfcf;
    margin-left: 30px;
}
.content-right-list3>div{
    border-bottom: 1px solid #f4f4f4;
    padding: 20px 0;
}
.content-right-list3 ul{

    margin-left: 29px;

}
.content-right-list3 ul li{
    color: #000;
    font-size: 14px;
    line-height: 40px;
}
.content-right-list3 ul li  span{
    font-size: 12px;
    color: #919191;
}
.content-right-list3>div:nth-child(2) div{
    color: #000000;
    font-size: 14px;
    line-height: 40px;
    margin: 20px 0;
    margin-left: 29px;
}
.content-right-list3>div:nth-child(2) div button{
    width: 34px;
    height: 34px;
    border-radius: 5px;
    border: none;
    background-color: #f6f6f6;
    box-shadow: 0 3px 0 #dadada;
    margin: 0 8px;
}
.content-right-list3>div:nth-child(2)  p{
    font-size: 14px;
    line-height: 40px;
    margin-left: 29px;
}
.content-right-list3>div:nth-child(2)  p a{
    font-style: normal;
    color: #dd5952;
}

.content-right-list3>div:nth-child(3)>div{
    width: 280px;
    margin-left: 29px;
}
.content-right-list3>div:nth-child(3) h3{
    font-size: 16px;
    line-height: 40px;
    color: #000;
}
.content-right-list3>div:nth-child(3)>div a{
    display: inline-block;
    font-size: 14px;
    line-height: 28px;
    border: 1px solid #ededed;
    padding: 0px 9px;
    color: #878787;
    margin-bottom: 6px;
}
.content-right-list3>div:nth-child(3) hr{
    border: 1px solid #ededed;
}
.content-right-list3>div:nth-child(3) p{
    font-size: 14px;
    line-height: 40px;
}
.content-right-list3>div:nth-child(3) p b{
    width: 25px;
    height: 25px;
    color: #000;
    display: inline-block;
    font-weight: normal;
    margin:0 7px;
    position: relative;
    top: 7.5px;
    background-repeat: no-repeat;
    background-position: center;
}
.content-right-list3>div:nth-child(3) p b:nth-child(1){
    background-image: url("../images/icon_03.jpg") ;
}
.content-right-list3>div:nth-child(3) p b:nth-child(2){
    background-image: url("../images/icon_05.jpg");
}
.content-right-list3>div:nth-child(3) p b:nth-child(3){
    background-image: url("../images/icon_07.jpg");
}
.content-right-list3>div:nth-child(3) p b:nth-child(4){
    background-image: url("../images/icon_09.png");
}

.content-right-list4{
    position: relative;
}
.content-right-list4 span{
    color: #fff;
    font-size: 14px;
    line-height: 33px;
    position: absolute;
    bottom: 0px;
    right: 24px;
}

/*#recommend{*/
    /*max-width: 1450px;*/
    /*margin: 80px auto;*/
/*}*/
.masonry_box .cnt .item {
    display: block;
    /*padding: 0 45px;*/
}
.masonry_box>h3{
    font-size: 16px;
    line-height: 40px;
    color: #858585;
    padding: 0 60px;
    margin-top: 30px;
}
#recommend{
    margin-bottom: 20px;
}
@media screen and (max-width: 1600px) {
    .content .content-left{
        width: 854px;
    }
    .content-left img {
        margin: 50px 43px;
    }
    .content-left div {
        margin: 0 44px;
    }
    .content-left p {
        margin-left: 65px;
    }
    .masonry_box>h3 {
         padding: 0 10px;
    }
    .masonry_box .cnt .item {
        padding: 0 ;
    }
}