/*公共部分*/
.personal-bg{
    background: url("../images/personal-banner.png") no-repeat center;
    background-size: cover;
    height: 287px;
}
.information{
    margin-top: -38px;
}
.information>div:nth-child(1){

}
.information img{
    width: 79px;
    height: 79px;
    display: block;
    margin: 0 auto;
}
.information h4{
    font-size: 18px;
    line-height: 40px;
    color: #0e0e0e;

}
.information p{
    color: #7b7b7b;
    font-size: 14px;

}
.information p i{
    font-style: normal;
    font-size: 14px;
    color: #000;
}
.information>div:nth-child(4){
    font-size: 16px;
    color: #7b7b7b;
    line-height: 32px;
    width: 100px;
    margin: 30px auto;
}
.information>div:nth-child(4) b{
    font-weight: normal;
    display: block;
    width: 27px;
    height: 24px;
    background: url("../images/crown1.png") no-repeat center;
    float: left;
}
.information a{
    display: block;
    width: 180px;
    margin: 30px auto;
    font-size: 16px;
    line-height: 40px;
    color: #fff;
    border-radius: 5px;
    padding-left: 70px;
    background: url("../images/vip1.png") no-repeat 40px 8px ;
    background-color: #dd5952;
    text-align: left;
}


.personal-list ul{
    width: 1450px;

    margin: 0 auto;
}
.personal-list>ul li{
    display: inline-block;
    /*width: 80px;*/
    margin: 0 40px;
    padding:0 10px ;
    border-bottom: 3px solid transparent;

}
.personal-list li a{
    color: #c3c3c3;
    font-size: 16px;
    line-height: 40px;

}
.personal-list li.active{
    border-bottom: 3px solid #dd5952;
}
.personal-list li.active a{
    color: #000;

}
.personal-list>div{
    background-color: #f7f8fa;
    min-height: 500px;
}
/*收藏，下载，足迹*/
.masonry_box .cnt .item {
    display: block;
    /*padding: 0 45px;*/
}
.personal-list>div {

    padding: 60px 0;
}
/*vip部分*/
#myVip>div{
    padding: 100px 0;
}
/*#myVip>div.vip{*/
    /*display: block;*/
    /*background-color: #dd5952;*/
    /*color: #fff;*/
    /*width: 240px;*/
    /*margin: 20px auto;*/
    /*border-radius:20px ;*/
    /*padding: 10px;*/
/*}*/
#myVip a.vip{
    display: block;
    background-color: #dd5952;
    color: #fff;
    width: 240px;
    margin: 20px auto;
    border-radius:20px ;
    padding: 10px;
}
.is-vip{

}

.is-vip p{
    width: 320px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 40px;
    color: #878787;
}
.is-vip b{
    font-weight: normal;
    display: block;
    width: 23px;
    height: 23px;
    background: url("../images/time.png") no-repeat center;
    float: left;
    position: relative;
    top: 8px;
    left: 19px;
}
.no-vip{

}
.no-vip h3{
    font-size: 18px;
    line-height: 40px;
    color: #000;

}
.no-vip p{
    font-size: 16px;
    line-height: 40px;
    color: #878787;
}
/*.no-vip a{*/
    /*display: block;*/
    /*background-color: #dd5952;*/
    /*color: #fff;*/
    /*width: 240px;*/
    /*margin: 20px auto;*/
    /*border-radius:20px ;*/
    /*padding: 10px;*/
/*}*/
@media screen and (max-width: 1600px) {
    .personal-list ul{
        width: 1200px;


    }
}